h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.banner {
  background-image: url('https://i.pinimg.com/564x/fa/33/e5/fa33e5e054c3a5b9bbc7ae77029b59b4.jpg');
  background-size: cover;
  background-position: center;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 100px;
  color: #423d3c;
}

h2 {
  font-size: 30px;
  color: #433d3c;
}

.info {
  background-color: #433d3c;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #433d3c;
  color: white;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: #574f4d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5dc;
}

.dropdown-content a {
  color: black;
  padding: 14px 9px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #dcdcbf;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  background-color: #433d3c;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.section {
  margin: 20px auto;
  padding: 30px;
  background-color: #f5f5dc;
  width: 89%;
}

.section img {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.product-container {
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
}

.product-list-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.product-list-item img {
  width: 250px;
  height: auto;
}

.product-name {
  font-weight: bold;
  font-style: italic;
}


#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

#contact-form label {
  margin: 0.5em 0 0.2em;
  font-weight: bold;
  color: #433d3c;
}

#contact-form input,
#contact-form textarea {
  padding: 0.7em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1em;
  font-size: 16px;
  color: #333;
}

#contact-form input:focus,
#contact-form textarea:focus {
  border-color: #A89984;
  outline: none;
}

#contact-form button {
  padding: 0.7em;
  background-color: #A89984;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

#contact-form button:hover {
  background-color: #433d3c;
}

#form-status {
  margin-top: 1em;
  text-align: center;
  color: #A89984;
}

@media (max-width: 768px) {
  /* Header */
  .banner h1 {
    font-size: 24px;
  }

  .info {
    flex-direction: column;
    align-items: center;
  }

  .product-list-item img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  /* Header */
  .banner h1 {
    font-size: 20px;
  }

  .info {
    padding: 10px;
  }

  .section {
    padding: 10px;
  }

  footer {
    padding: 10px;
  }

 

